<table align="center" border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#F8F8F8" style="table-layout:fixed;background-color:#f8f8f8;color:#333333">
  <tbody>
    <tr>
      <td>
        <table border="0" cellspacing="0" cellpadding="0" width="600px" style="margin: 0 auto">
          <tbody>
            <tr align="left">
              <td style="padding-top:67px;padding-bottom:10px">
              </td>
            </tr>

            <tr>
              <td>
                <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#FFFFFF" style="background-color:#ffffff;padding:45px 56px;border:1px solid #ededed">
                  <tbody>
                    <tr>
                      <td style="padding-top:10px; line-height:24px;font-size:16px">
                        <h3 style="text-align:center"><b>{{title}}</b></h3>
                      </td>
                    </tr>
                    <tr><td style="padding-top:10px;line-height:24px;font-size:16px"><h4><b>Kepada Yth Bapak/Ibu {{username}},</b></h4></td></tr>
                    <tr><td style="padding-top:10px;line-height:24px;font-size:16px;text-align:justify;">Terima kasih telah melakukan registrasi untuk pengisian pembukaan rekening online di {{company_name}}.</td></tr>
                    <tr><td style="padding-top:10px;line-height:24px;font-size:16px;text-align:justify;">Gunakan link berikut untuk aktivasi akun registrasi pembukaan rekening online Anda:</td></tr>
                    <tr>
                      <td style="padding-top:10px; line-height:24px; font-size:16px; text-align: center;">
                        <a href="{{front_url}}" style="text-center">
                          <button style="width:150px;height:30px;background-color:#EC1E23;color:white;border:none;border-radius:10px;text-align:center;cursor:pointer">
                            <strong>Link Aktivasi Akun</strong>
                          </button>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:2rem 0;line-height:24px;font-size:3rem;text-align:justify;font-weight:bold;letter-spacing:1.5rem"><center>{{otp_code}}</center></td>
                    </tr>
                    <tr><td style="padding-top:10px;line-height:24px;font-size:16px;text-align:justify;">Terima kasih atas kepercayaan Anda telah memilih {{company_name}} sebagai partner investasi.</td></tr>
                    <tr><td style="padding-top:10px;line-height:24px;font-size:16px;text-align:left;">Regards,<br/>{{company_name}},<br/></td></tr>
                  </tbody>
                </table>
              </td>
            </tr>

            <tr>
              <td style="padding-top:10px">
                <table style="background:#D7D7D7;border-radius:4px;width:100%;padding:16px 24px">
                  <tbody>
                    <tr>
                      <td>
                        <table>
                          <tbody>
                            <tr>
                              <td style="font-size:16px;margin:0;padding:0;list-style:none;font-weight:500;font-family:Oxygen-Regular;color:black;text-align:justify;">
                                {{company_name}} is an Information Technology company that is ready to serve requests for modern software.<br/><br/>
                                © 2025, {{company_name}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
